$main-bg-color: #112428;
$bg-color-transparent: rgba(17, 36, 40, .5);
$bg-color-superlight: rgba(17, 36, 40, .25);
$main-orange-color: #F3C969;
$main-green-color: #EDFF86;
$main-beige-color: #FFF5B2;
$main-teal-color: #D4FCC3;